<div class="col-xs-12 col-sm-6 col-lg-3"> 
  <%= link_to image_tag(product.image_url, class: "img-responsive") %>
  <div class="overview">
    <h4><%= product.name %></h4>
    <p><%= product.description %></p>
    <p><%= product.colour %></p>
    <p><strong><%= product.price %></strong></p>
    <p>
      <span class="btn btn-default" role="button"><%= link_to 'Show', product %>
        <% if signed_in? && current_user.admin? %>
          | <%= link_to 'Edit'.html_safe , edit_product_path(product) %> |
        <% end %>
        <% if signed_in? && current_user.admin? %>
          <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </span>
    </p>
  </div><!--/overview-->
</div><!--/col-->
