<p id="notice"><%= notice %></p>

<div class="container fluid">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<%= image_tag(@product.image_url, class: "img-responsive", data_zoom_image: "#{@product.image_url}") %>
			<%= link_to 'Edit', edit_product_path(@product) %> |
			<%= link_to 'Back', products_path %>
		</div>
		<div class="col-xs-12 col-md-6">
			<h2><%= @product.name %></h2>
			<p><%= @product.description %></p><br>
			<p><strong><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> </strong><%= @product.price %>€</br>
			<strong><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </strong><%= @product.colour %></br></p>
		</div>
	</div>
	<div class="row">
		<h4><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> User Ratings</h4>		
		<div class="col-xs-12 col-md-6 ">
			<p>Average Rating:</p>
			<p class="rated" data-score="<%= @product.average_rating %>"></p>
			<p><%= @product.highest_rating_comment %></p><br>
			<p><%= @product.lowest_rating_comment %></p>
		</div>
    	<div class="col-xs-12 col-md-6 ">		
			<p><%= render partial: "new_comment" %></p>
    		<p><%= render partial: "comments" %></p>
    		<p><%= will_paginate @comments, :page_links => false, previous_label: "Newer Reviews", next_label: "Older Reviews" %></p>
		</div>	
	</div>
</div>








